* {
    padding : 2px;
    margin : 2px;
    shape-margin: 10%;
}

body{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat, repeat;
  background-position: center;
position: relative;
}

img
{
    border-radius: 50%;
    position: relative;
    left: 75%;
    top:-2%;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
  }

#mainheadding{
  padding: 2em;
  margin: 2em;
}

#about{
  background-color:rgb(122, 193, 206);
  border-top-right-radius: 7%;
  border-top-left-radius: 7%;
  border-bottom-left-radius: 7%;
  border-bottom-right-radius: 7%;
  padding: 2em;
  margin: 2em;
}
.alabtme{
  margin: 2em;
  padding: 2em;
  text-align: center
}


.contact-form{
  background:grey;

  margin-top: 10%;
  margin-bottom: 5%;
  width: 20%;
}
.contact-form .form-control{
  border-radius:1rem;
}
.contact-form form{
  padding: 14%;
}
.contact-form form .row{
  margin-bottom: -7%;
}
.contact-form h3{
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #0062cc;
}
.text-white{
  color: #fff;
}
#output div img{
  top: 0;
  left: 0;
}
  

 
.footerText {
  padding: 40px; 
  text-align: center; 
  background: #6ba0ad;
  color: white; 
  }

main 
{
    color: light rgb(204, 130, 32);
    border: 1px solid rgb(75, 66, 72);
}
p {
    color: rgb(14, 5, 5);
} 

li {
    color: rgb(202, 86, 125);
    text-align: center;
  }
  